{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	Profil
{% endblock %}

{% block body %}
    <section class="row my-4">
        <div class="col-3">
            <img class="img-fluid" src="{{ user.avatar ? vich_uploader_asset(user, 'avatarFile') : 'http://placehold.it/300x300' }}" alt="Avatar">
        </div>
        <div class="col-9">
            <h2>{{ user.firstname }} {{ user.lastname }}</h2>
            <p>Inscrit le {{ user.dateInscription | date('d/m/Y') }}</p>
            <p>{{ user.biography }}</p>
        </div>
    </section>
    <section>
        <ul>
            {% for game in user.games %}
                <li><a href="{{ path('game_details', { id: game.id }) }}">{{ game.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
